@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  background: #1e1e1e;
  color: whitesmoke;
}

body h1 {
  text-align: center;
}

.card-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
}

.card {
  margin: 20px 40px 40px 20px;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}

.card .front {
  border: solid 10px whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 0.5s;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card .back {
  border: solid 10px whitesmoke;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 0.5s;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);


}

.card:hover .back {
  transform: rotateY(0deg);
}

.card .back .details {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card .back .details .caption {
  font-weight: 100;
  font-style: italic;
}

.card .back .details .caption,
h2,
span {
  color: whitesmoke;
}

.social-icon {
  padding: 10px;
}

.social-icon a {
  display: inline-block;
  width: 36px;
  background: #333;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 50%;
  transition: 0.5s;
}

.social-icon a .fab {
  line-height: 36px;
}

.social-icon a:hover {
  background: rgb(104, 240, 215);
}

.social-icon a:hover i {
  transition: 0.5s;
  color: #333;
}
